/* Reset */

* {margin: 0; padding: 0;} 



/* Elementos do texto */

.container {
    /* background-color: beige; */
    color: rgb(63, 63, 63);
    width: 90%;
    max-width: 35cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bodypos {
    /* background-color: aquamarine; */
    background-image: linear-gradient(to right, white, beige, beige, white);
}

header, footer {
    /* background-color: blue;  */
    padding: 10%;
    clear: both; /* coloca o elemento isoladamente */
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(73, 73, 73);
}

footer {
    font-size: clamp(10%, 20% + 0.8vw, 90%);
}



/* Configuracoes menu lateral */

#menu_lateral {
    /* background-color: green;  */
    padding: 1%;
    width: 30%;
    float: left;
}

.foto3x4 {
    height: 65%;
    width: 65%;
    max-width: 5cm;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4%;
}

h1 {
    /* background-color: red;  */
    text-transform: uppercase;
    padding: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(60%, 20% + 1.3vw, 123%); /* texto responsivo */
    width: auto;
    max-width: 5cm;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.config_informacoes {
    /* background-color: pink; */
    text-align: right;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(60%, 20% + 1.3vw, 140%);
    width: auto;
    max-width: 9cm;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.h3_menu {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, fantasy;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style:none;
}



/* Configuracoes do bloco principal */

main {
    /* background-color: yellow;  */
    padding: 1%;
    padding-right: 3%;
    width: 64%;
    float: right;
    font-size: clamp(60%, 20% + 1.3vw, 140%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, fantasy;
}

.job {
    height: 10vw;
    max-height: 4cm;
    width: 29%;
    background-color: #cccccc;    
    border-radius: 7%;
    float: left;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
}



/* Espacamento entre paragrafos */

h3 {
    margin-bottom: 1em;
}

h4, p, li {
    margin-bottom: 0.6em;
}



/* Linhas de separacao de blocos */

hr {
    border: 0;
}

.hr1 {
    height: 5px;
    margin-bottom: 3%;
    background-image: linear-gradient(to right, transparent, #CCC, transparent); 
}

.hr2 {
    margin-bottom: 15%;
    border-top-width: 10px;
    border-bottom-width: 7px;
    height: 2px;
    border-top: 1px solid #CCC;
}

.hr3 {
    margin-top: 7%;
    margin-bottom: 4%;
    border-top-width: 10px;
    border-bottom-width: 7px;
    height: 2px;
    border-top: 1px solid #CCC;
}


