* {
    margin: 0;
    padding: 0;
}

.job {
    margin: 8px;
    width: 30%;
    height: 150px;
    background-color: #cccccc;
}

header, footer {
    padding: 20px;
    width: 100%;
    clear: both; /* pag 71 Aula PDF */
}

aside {
    padding: 18px;
    float: left;
    width: 20%;
}

main {
    float: left;
    width: 75%;
}

